{% extends 'homepage/base.html' %}
{% block title %}Hello, I'm Bruno{% endblock %}

{% block content%}
<header>
    <h1>I'm Bruno Hashimoto</h1>
    Under construction, but feel free to browse.

    <p>
        You can also find me on <a href="https://github.com/bhashimoto" target="_blank">Github</a> and <a target="_blank" href="https://linkedin.com/in/bhashimoto">LinkedIn</a>
    </p>
</header>
<section>
    <h2>Projects</h2>
    <div class="card">
        <h3><a href="/ratata">Ratata</a></h3>
        <p>Ratata is a cost splitting app designed to simplify long-running balances such as group trip, household expenses and such. 
            If you enter a valid pix key, it will generate the appropriate code to simplify transfers.</p>
        <p>As of now, it is in portuguese only</p>
    </div>
    
</section>
{% endblock %}