{% extends 'ratata/base.html' %}
{% block title %}{{account.name}}{% endblock %}

{% block content %}
<h1>{{account.name}}</h1>
<section>
	<h2>Members</h2>
	{% include "ratata/components/account_members_list.html"%}
	{% include "ratata/components/account_members_create_form.html" %}
</section>

<section>
	<h2>Payments</h2>
</section>

<section>
	<h2>Transactions</h2>
	{% include "ratata/components/transaction_create_form.html"%}
	{% include "ratata/components/transactions_list.html" %}
</section>


{% endblock %}
