{% extends 'ratata/base.html' %}
{% block title %}{{account.name}} - Ratata{% endblock %}

{% block content %}
<h1>{{account.name}}</h1>
<section class="card">
		<h2>Membros</h2>
		{% include "ratata/components/account_members_list.html" %}
		
		{% include "ratata/components/pending_invitations.html" %}
		
		{% include "ratata/components/account_members_create_form.html" %}
</section>

<section class="card">
		<h2>Resumo</h2>
		{% include "ratata/components/account_payment_summary.html" %}
</section>

<section class="card">
	<h2>Transações</h2>
	{% include "ratata/components/transaction_create_form.html"%}
	{% include "ratata/components/transactions_list.html" %}
</section>


{% endblock %}
