<!DOCTYPE html>
{% load static %}
<html lang="en">
	<head>
		<title>{% block title %}{% endblock%}</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href={% static 'css/style.css' %} rel="stylesheet">
		<script src="https://unpkg.com/htmx.org@2.0.2"></script>
	</head>
	<body>
		<nav>
			<a href={%if not user.is_authenticated%}"/ratata"{%else%}"/ratata/home"{%endif%}>Home</a>
			{% if user.is_authenticated %}
			<a href="/ratata/logout">log out</a>
			{% endif %}
		</nav>
		<main>
		{% block content %}
		{% endblock %}
		</main>
	</body>
</html>
