* {
	margin:0px;
	padding: 0px;
	color: var(--primary-color);
}

html {
	--primary-color: rgb(223, 223, 223);
	--background: #313131;
}

body {
	background-color: #000000;
	font-family: Arial, Helvetica, sans-serif;
}

main {
	margin: 10px;
}

h1 {
	margin: 0px 10px;
}

ul {
	margin: 10px;
}

header {
	text-align: center;
}

input {
	border-radius: 5px;
	padding: 5px;
	box-shadow: none;
	border: 2;
	border-color: #AAA;
	border-style: solid;
	background-color: var(--background);
}

select {
	background-color: var(--background);
}

button {
	border-radius: 5px;
	border-style: solid;
}

.btn {
	border: solid;
	border-width: 2px;
	padding: 5px 10px;
	border-radius: 5px;
	font-size: 1rem;
	font-weight: 600;
	cursor: pointer;
	text-decoration: none;
}

.btn-primary {
	color: var(--background);
	background-color: var(--primary-color);
	border-color: var(--primary-color);
}

.btn-primary:hover {
	background-color: var(--background);
	color: var(--primary-color);
}

.btn-secondary {
	background-color: var(--background);
	color: var(--primary-color);
	border-color: var(--primary-color);
}

.btn-secondary:hover {
	background-color: var(--primary-color);
	color: var(--background);
}

#signup-login {
	text-align: center;
	display: flex;
	justify-content: center;
	gap: 10px;
}

.card {
	margin: 10px 10px;
	padding: 5px 10px 10px 10px;
	background-color: var(--background);
	border-radius: 10px;
}

.card>h2 {
	margin-top: 0px;
}

.no-bullet {
	list-style: none;
}